.location {
    text-align: center;
    font-family: "oswald";
    font-size: 30px;
    color: white;
}

.current-date {
    text-align: center;
    font-family: "Montserrat";
    font-style: italic;
    font-size: 15px;
    color: white;
}

@media (max-width: 992px) {
    .current-date {
        font-size: 12px;
    }
}
